#menuWaiter-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
   background: linear-gradient(180deg, #3d3d3d, #fd5d5d, #3d3d3d);
  background-size: 100%;
}
